<mat-card class="card" [formGroup]="boardCreationForm">

  <mat-card-header>
    <mat-card-title>Create Board</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Board name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions class="card-actions">
    <button *ngIf="isBoardCreationFormComponentCancelButtonShown" mat-flat-button class="cancel-button" (click)="hideBoardCreationFormComponent.emit()">Cancel</button>
    <button mat-flat-button color="primary" class="create-board-button" (click)="addBoard()">Create</button>
  </mat-card-actions>

</mat-card>
