.card {
  align-items: center;
  height: 26rem;
  left: calc(50% - 12.5rem);
  position: fixed;
  top: 10%;
  width: 25rem;

  .cancel-button {
    background: #af1be3;
    color: white;
  }

  .cancel-button,
  .rename-board-button {
    width: 20rem;
  }

  .rename-board-button {
    margin-top: 1rem;
  }
}

.card,
.card-actions {
  display: flex;
  flex-direction: column;
}
