<mat-card class="card" [formGroup]="boardRenamingForm">

  <mat-card-header>
    <mat-card-title>Rename Board</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Board name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions class="card-actions">
    <button mat-flat-button class="cancel-button" (click)="hideBoardRenamingFormComponent.emit()">Cancel</button>
    <button mat-flat-button color="primary" class="rename-board-button" (click)="renameBoard()">Save</button>
  </mat-card-actions>

</mat-card>
