.board {
  margin-bottom: 2rem;
}

.board-header,
.column,
.column-name {
  margin-right: 1rem;
}

.board-header,
.column {
  margin-left: 1rem;
}

.board-header,
.board-header-left-side,
.board-columns,
.column-header,
.column-header-buttons,
.card,
.card-first-part,
.card-first-part-buttons,
.card-second-part,
.card-votes,
.card-second-part-right-side,
.comment-creation-section,
.comment-creation-section-buttons,
.comment,
.comment-buttons {
  display: flex;
}

.board-header,
.board-header-left-side,
.column-header,
.card-second-part-right-side {
  align-items: center;
}

.board-header,
.column-header,
.card-first-part,
.comment {
  justify-content: space-between;
}

.board-name,
.column-name {
  color: #555;
}

.board-name,
.rename-board-button,
.rename-column-button,
.delete-vote-button {
  margin-right: .5rem;
}

.rename-board-button,
.rename-column-button {
  background: #08d089;
}

.rename-board-button,
.rename-column-button,
.edit-card-text-button,
.delete-card-button,
.delete-vote-button,
.add-vote-button,
.write-comment-button,
.comment-field,
.add-comment-button,
.cancel-button,
.edit-comment-text-button,
.delete-comment-button {
  color: white;
}

.rename-board-button,
.delete-board-button,
.delete-column-button,
.add-vote-button {
  margin-left: .5rem;
}

.line {
  border: .1rem solid #ededed;
}

.column {
  cursor: grab;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.on-mousedown {
  cursor: grabbing;
  opacity: .7;
  position: relative;
  transform: rotate(2deg);
  z-index: 1;
}

.column-header {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.column-header,
.card-votes {
  flex-flow: wrap;
}

.column-name,
.card-text,
.comment-text {
  margin-bottom: 0;
}

.column-name,
.column-header-buttons,
.comment-creation-form {
  flex: 1;
}

.column-name,
.card-text,
.comment-text {
  margin-top: 0;
}

.column-header-buttons,
.card-votes {
  justify-content: flex-end;
}

.add-card-button {
  background: #ededed;
  color: #90959f;
}

.add-card-button,
.comment-field {
  width: 100%;
}

.card {
  margin-top: 2rem;
  padding: 1rem;
}

.card,
.card-first-part-buttons {
  flex-direction: column;
}

.card,
.edit-card-text-button,
.delete-card-button,
.add-vote-button,
.write-comment-button {
  background: #409388;
}

.card-first-part {
  align-items: flex-start;
}

.card-first-part,
.edit-card-text-button {
  margin-bottom: .5rem;
}

.card-text {
  word-wrap: break-word;
}

.card-text,
.vote,
.comment-text {
  margin-right: .4rem;
}

.card-first-part-buttons,
.comment-buttons {
  margin-left: .4rem;
}

.edit-card-text-button,
.delete-card-button,
.add-vote-button,
.write-comment-button {
  border: .1rem solid white;
}

.delete-card-button,
.card-second-part {
  margin-top: .5rem;
}

.card-second-part,
.comment-buttons {
  align-self: flex-end;
}

.card-votes {
  align-self: center;
}

.vote {
  border-radius: 50%;
  height: 1rem;
  margin-bottom: .4rem;
  width: 1rem;
}

.vote,
.comment-field,
.add-comment-button,
.cancel-button,
.edit-comment-text-button,
.delete-comment-button {
  background: #33776b;
}

.card-second-part-right-side {
  align-self: flex-start;
}

.delete-vote-button {
  background: 0;
  cursor: pointer;
  font-size: 2rem;
  transform: rotate(45deg);
}

.delete-vote-button,
.comment-field {
  border: 0;
  outline: 0;
}

.add-vote-button,
.card-votes-amount,
.write-comment-button,
.comment-creation-form,
.add-comment-button,
.edit-comment-text-button {
  margin-right: .2rem;
}

.card-votes-amount,
.write-comment-button,
.card-comments-amount,
.comment-creation-section-buttons,
.cancel-button,
.delete-comment-button {
  margin-left: .2rem;
}

.comment-creation-section,
.comment {
  margin-top: 1rem;
}

.comment-field {
  height: 4rem;
  padding-right: 1rem;
}

.comment-field,
.card-comments {
  padding-left: 1rem;
}

::placeholder {
  color: #409388;
}

:-ms-input-placeholder {
  color: #409388;
}

::-ms-input-placeholder {
  color: #409388;
}
