<div class="board">
  <div class="board-header">
    <div class="board-header-left-side">
      <h1 class="board-name">{{ board.name }}</h1>
      <button mat-flat-button class="rename-board-button" (click)="sendBoardRenamingFormComponentData(board.id, board.name)">Rename</button>
      <button mat-flat-button color="accent" class="delete-board-button" (click)="deleteBoard(board.id)">Delete</button>
    </div>
    <button mat-flat-button color="primary" (click)="sendColumnCreationFormComponentData(board.id)">Add Column</button>
  </div>
  <hr class="line">
  <div class="board-columns">
    <div *ngFor="let column of board.columns" [style.width.%]="100 / board.columns.length" class="column" appColumnMoving [boardColumnsAmount]="board.columns.length" [boardId]="board.id" [columnId]="column.id" (mousedown)="hideColumnOpenFormComponent.emit(column.id)" (mouseup)="checkIfBoardCreationFormComponentShown.emit()">
      <div class="column-header">
        <h2 class="column-name">{{ column.name }}</h2>
        <div class="column-header-buttons">
          <button mat-flat-button class="rename-column-button" (click)="sendColumnRenamingFormComponentData(board.id, column.id, column.name)" (mousedown)="$event.stopPropagation()">Rename</button>
          <button mat-flat-button color="accent" class="delete-column-button" (click)="deleteColumn(board.id, column.id)" (mousedown)="$event.stopPropagation()">Delete</button>
        </div>
      </div>
      <button mat-flat-button class="add-card-button" (click)="sendCardCreationFormComponentData(board.id, column.id)" (mousedown)="$event.stopPropagation()">+</button>
      <div *ngFor="let card of column.cards" class="card" appCardMoving [boardColumnsAmount]="board.columns.length" [boardId]="board.id" [columnId]="column.id" [cardId]="card.id" (mousedown)="hideCardOpenFormComponent.emit(card.id)" (mouseup)="checkIfBoardCreationFormComponentShown.emit()">
        <div class="card-first-part">
          <p class="card-text">{{ card.text }}</p>
          <div class="card-first-part-buttons">
            <button mat-flat-button class="edit-card-text-button" (click)="sendCardTextEditingFormComponentData(board.id, column.id, card.id, card.text)" (mousedown)="$event.stopPropagation()">Edit</button>
            <button mat-flat-button class="delete-card-button" (click)="deleteCard(board.id, column.id, card.id)" (mousedown)="$event.stopPropagation()">-</button>
          </div>
        </div>
        <div class="card-second-part">
          <div class="card-votes">
            <div *ngFor="let vote of card.votesNumber" class="vote">
            </div>
          </div>
          <div class="card-second-part-right-side">
            <button *ngIf="card.votesNumber.length" class="delete-vote-button" (click)="deleteVote(board.id, column.id, card.id)" (mousedown)="$event.stopPropagation()">+</button>
            <button mat-flat-button class="add-vote-button" (click)="addVote(board.id, column.id, card.id)" (mousedown)="$event.stopPropagation()">Vote</button>
            <span class="card-votes-amount">{{ card.votesNumber.length }}</span>
            <button mat-flat-button class="write-comment-button" (click)="writeComment(card.id)" (mousedown)="$event.stopPropagation()">Write</button>
            <span class="card-comments-amount">{{ card.comments.length }}</span>
          </div>
        </div>
        <div *ngIf="card.id === cardId && isCommentCreationSectionShown" class="comment-creation-section">
          <form class="comment-creation-form" [formGroup]="commentCreationForm">
            <input class="comment-field" type="text" formControlName="text" placeholder="Write your comment..." (mousedown)="$event.stopPropagation()">
          </form>
          <div class="comment-creation-section-buttons">
            <button mat-flat-button class="add-comment-button" (click)="addComment(board.id, column.id, card.id)" (mousedown)="$event.stopPropagation()">Add</button>
            <button mat-flat-button class="cancel-button" (click)="commentCreationSectionData.emit({isCommentCreationSectionShown: false})" (mousedown)="$event.stopPropagation()">Cancel</button>
          </div>
        </div>
        <div class="card-comments">
          <div *ngFor="let comment of card.comments" class="comment">
            <p class="comment-text">{{ comment.text }}</p>
            <div class="comment-buttons">
              <button mat-flat-button class="edit-comment-text-button" (click)="sendCommentTextEditingFormComponentData(board.id, column.id, card.id, comment.id, comment.text)" (mousedown)="$event.stopPropagation()">Edit</button>
              <button mat-flat-button class="delete-comment-button" (click)="deleteComment(board.id, column.id, card.id, comment.id)" (mousedown)="$event.stopPropagation()">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
