<mat-card class="card" [formGroup]="cardCreationForm">

  <mat-card-header>
    <mat-card-title>New Card</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Card text</mat-label>
      <input matInput type="text" formControlName="text">
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions class="card-actions">
    <button mat-flat-button class="cancel-button" (click)="hideCardCreationFormComponent.emit()">Cancel</button>
    <button mat-flat-button color="primary" class="add-card-button" (click)="addCard()">Add</button>
  </mat-card-actions>

</mat-card>
