<app-board *ngFor="let board of boards$ | async"
           [board]="board"
           [cardId]="commentCreationSectionCardId"
           [cardIds]="cardIds"
           [boards$]="boards$"
           [isCommentCreationSectionShown]="isCommentCreationSectionShown"
           (boardCreationFormComponentData)="getBoardCreationFormComponentData($event)"
           (hideBoardOpenFormComponent)="hideBoardOpenFormComponent($event)"
           (boardRenamingFormComponentData)="getBoardRenamingFormComponentData($event)"
           (columnCreationFormComponentData)="getColumnCreationFormComponentData($event)"
           (hideColumnOpenFormComponent)="hideColumnOpenFormComponent($event)"
           (columnRenamingFormComponentData)="getColumnRenamingFormComponentData($event)"
           (cardCreationFormComponentData)="getCardCreationFormComponentData($event)"
           (hideCardOpenFormComponent)="hideCardOpenFormComponent($event)"
           (cardTextEditingFormComponentData)="getCardTextEditingFormComponentData($event)"
           (commentCreationSectionData)="getCommentCreationSectionData($event)"
           (hideCommentOpenFormComponent)="hideCommentOpenFormComponent($event)"
           (commentTextEditingFormComponentData)="getCommentTextEditingFormComponentData($event)"
           (checkIfBoardCreationFormComponentShown)="checkIfBoardCreationFormComponentShown()">
</app-board>

<app-add-board-button *ngIf="isBoardCreationFormComponentCancelButtonShown"
                      (boardCreationFormComponentData)="getBoardCreationFormComponentData($event)">
</app-add-board-button>

<app-board-renaming-form *ngIf="isBoardRenamingFormComponentShown"
                         [boardName]="boardName"
                         [boardId]="boardId"
                         (hideBoardRenamingFormComponent)="hideBoardRenamingFormComponent()">
</app-board-renaming-form>

<app-column-creation-form *ngIf="isColumnCreationFormComponentShown"
                          [boardId]="boardId"
                          (hideColumnCreationFormComponent)="hideColumnCreationFormComponent()">
</app-column-creation-form>

<app-column-renaming-form *ngIf="isColumnRenamingFormComponentShown"
                          [columnName]="columnName"
                          [boardId]="boardId"
                          [columnId]="columnId"
                          (hideColumnRenamingFormComponent)="hideColumnRenamingFormComponent()">
</app-column-renaming-form>

<app-card-creation-form *ngIf="isCardCreationFormComponentShown"
                        [boardId]="boardId"
                        [columnId]="columnId"
                        (hideCardCreationFormComponent)="hideCardCreationFormComponent()">
</app-card-creation-form>

<app-card-text-editing-form *ngIf="isCardTextEditingFormComponentShown"
                            [cardText]="cardText"
                            [boardId]="boardId"
                            [columnId]="columnId"
                            [cardId]="cardId"
                            (hideCardTextEditingFormComponent)="hideCardTextEditingFormComponent()">
</app-card-text-editing-form>

<app-comment-text-editing-form *ngIf="isCommentTextEditingFormComponentShown"
                               [commentText]="commentText"
                               [boardId]="boardId"
                               [columnId]="columnId"
                               [cardId]="cardId"
                               [commentId]="commentId"
                               (hideCommentTextEditingFormComponent)="hideCommentTextEditingFormComponent()">
</app-comment-text-editing-form>
