<mat-card class="card" [formGroup]="columnCreationForm">

  <mat-card-header>
    <mat-card-title>New Column</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Column name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions class="card-actions">
    <button mat-flat-button class="cancel-button" (click)="hideColumnCreationFormComponent.emit()">Cancel</button>
    <button mat-flat-button color="primary" class="add-column-button" (click)="addColumn()">Add</button>
  </mat-card-actions>

</mat-card>
