<mat-card class="card" [formGroup]="columnRenamingForm">

  <mat-card-header>
    <mat-card-title>Rename Column</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Column name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions class="card-actions">
    <button mat-flat-button class="cancel-button" (click)="hideColumnRenamingFormComponent.emit()">Cancel</button>
    <button mat-flat-button color="primary" class="rename-column-button" (click)="renameColumn()">Save</button>
  </mat-card-actions>

</mat-card>
