<app-board-list [boards$]="boards$"
                [isBoardCreationFormComponentShown]="isBoardCreationFormComponentShown"
                [isBoardCreationFormComponentCancelButtonShown]="isBoardCreationFormComponentCancelButtonShown"
                (boardCreationFormComponentData)="getBoardCreationFormComponentData($event)">
</app-board-list>

<app-board-creation-form *ngIf="isBoardCreationFormComponentShown"
                         [isBoardCreationFormComponentCancelButtonShown]="isBoardCreationFormComponentCancelButtonShown"
                         (hideBoardCreationFormComponent)="hideBoardCreationFormComponent()">
</app-board-creation-form>
