@import '@angular/material/prebuilt-themes/indigo-pink.css';

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;

  body {
    font: 1.6rem sans-serif;
    margin: 0 .8rem;
    overflow-x: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
