<mat-card class="card" [formGroup]="commentTextEditingForm">

  <mat-card-header>
    <mat-card-title>Edit Comment</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Comment text</mat-label>
      <input matInput type="text" formControlName="text">
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions class="card-actions">
    <button mat-flat-button class="cancel-button" (click)="hideCommentTextEditingFormComponent.emit()">Cancel</button>
    <button mat-flat-button color="primary" class="edit-comment-text-button" (click)="editCommentText()">Save</button>
  </mat-card-actions>

</mat-card>
