<mat-card class="card" [formGroup]="cardTextEditingForm">

  <mat-card-header>
    <mat-card-title>Edit Card</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Card text</mat-label>
      <input matInput type="text" formControlName="text">
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions class="card-actions">
    <button mat-flat-button class="cancel-button" (click)="hideCardTextEditingFormComponent.emit()">Cancel</button>
    <button mat-flat-button color="primary" class="edit-card-text-button" (click)="editCardText()">Save</button>
  </mat-card-actions>

</mat-card>
